[submodule "catkin_ws/src/realsense-ros"]
	path = catkin_ws/src/realsense-ros
	url = https://github.com/IntelRealSense/realsense-ros.git
[submodule "catkin_ws/src/vision_opencv"]
	path = catkin_ws/src/vision_opencv
	url = https://github.com/ros-perception/vision_opencv.git
[submodule "catkin_ws/src/Deep_Object_Pose"]
	path = catkin_ws/src/Deep_Object_Pose
	url = git@github.com:jinglinjackychen/Deep_Object_Pose.git
